[2015-08-17 15:10] gauthamzz opened #1 "art of war under history"
it is more of a tactical book

[2015-08-17 15:17] hackerkid commented on #1
send pull request with link to the Goodreads page. And assign it in the proper category. If the category is not there create new one.

[2015-08-17 15:56] #1 closed

[2015-08-28 09:07] kamlekar opened #4 "A request to add book in "Design" section"
The book name is - "Don't Make Me Think, Revisited: A Common Sense Approach to Web Usability (3rd Edition)".

Sorry guys, I never read this but heard about it alot. I hope it will be helpful for design.

[2015-08-28 12:30] hackerkid commented on #4
Added :+1: . Thanks for the suggestion.

[2015-08-28 12:30] #4 closed

[2015-12-18 18:04] awesome-bot opened #7 "Validate pull requests with Travis"
Hello, I wrote a tool that can validate README links (valid URLs, not duplicate). It can be run when someone submits a pull request.

 It is currently being used by
- https://github.com/vsouza/awesome-ios
- https://github.com/matteocrippa/awesome-swift
- https://github.com/dkhamsing/open-source-ios-apps

Examples
- https://travis-ci.org/matteocrippa/awesome-swift/builds/96526196 ok ✅
- https://tra

[2016-02-20 05:18] aedorado opened #10 "What the f**k?!?"
Still haven't added me as contributor. -_- :P

[2016-02-20 14:30] hackerkid commented on #10
You are there dude. GH takes time to update the contributors list. It's automatic btw :stuck_out_tongue:

https://github.com/hackerkid/Mind-Expanding-Books/graphs/contributors

[2016-02-20 14:30] #10 closed

[2016-04-12 18:36] gauthamzz opened #16 "Way to verify whether the book is mind expanding or not"
There are so many books how do you know if it is mind expanding or not ?
There are so many great books and if we fill it with all it will be too big. Categories like fiction can become so big
List doesnt explain how a particular books helps in expanding the mind . I

[2016-04-12 18:38] hackerkid commented on #16
@gauthamzz Let's change the contributing guidelines. The pull request should list reasons on why the book is mind expanding.

[2016-04-12 18:45] gauthamzz commented on #16
What if people explain in too many words and in a confusing way .

[2016-06-19 18:05] hackerkid commented on #7
Fixed in https://github.com/hackerkid/Mind-Expanding-Books/commit/38c5cf426af4c46bf1c880eb5600935b66ba0f5a

[2016-06-19 18:05] #7 closed

[2016-06-19 18:05] #16 closed

[2016-10-22 20:47] hackerkid opened #29 "Add a book that blowed your mind | hacktoberfest"
This repository contains books that blowed the mind of a lot of people. f you know of any such :book:  that is not in the list then please make a PR. Thanks for being awesome :sunglasses: . Happy Hacktoberfest. :tada:

[2016-10-24 19:00] hackerkid opened #38 "Seperate fiction into diffrent genres"
Currently the genres in fiction are science fiction, fantasy and others. The `others` can be further expanded to [different genres](https://en.wikipedia.org/wiki/List_of_writing_genres#Common_genres:_fiction) . I reccomend to start by extracting `classics and mystery` from the list. But you can choose any genre of your choice.

[2016-10-24 19:02] hackerkid opened #39 "Extract books focusing on economics and create a new genre"
Extract books focusing on economics and create a new genre called economics.

[2016-10-24 20:28] #39 closed

[2016-10-25 17:52] hackerkid opened #49 "Add missing author names to the books"
The author name of some of the books are missing. Add the author name for them.

[2016-10-25 18:08] minibhati93 commented on #49
Can I help you with this?

[2016-10-25 18:56] hackerkid commented on #49
Yeah Sure. I see you are already making changes. Thanks for helping out.

[2016-10-25 19:02] minibhati93 commented on #49
Pleasure. Apologies for messing up the commits, though.

[2016-10-26 22:55] ivydigitalstorm commented on #49
hi @hackerkid mind if I add one more author?

[2016-10-27 11:14] hackerkid commented on #49
@ivydigitalstorm Thans for the PR :tada:

[2016-10-28 15:12] q3qt commented on #29
@hackerkid I want to contribute a book.

[2016-10-28 17:10] ivydigitalstorm commented on #29
@hackerkid i would like to contribute a book too :) #hacktoberfest

[2016-10-28 17:12] BNVision commented on #29
Hey @hackerkid I want to contribute a book

[2016-11-01 20:41] hackerkid commented on #29
Thank you all for contributing. :tada:

[2016-11-01 20:41] #29 closed

[2016-11-01 20:44] hackerkid commented on #49
Fixed in multiple commits (https://github.com/hackerkid/Mind-Expanding-Books/commit/b9b78fa16c0f22df61f0f8521150907a9c8510d5, https://github.com/hackerkid/Mind-Expanding-Books/commit/b45080ecc030dfad596361e82a6d03476bca42a3)

Thanks @ivydigitalstorm @minibhati93

[2016-11-01 20:44] #49 closed

[2016-11-01 20:45] #38 closed

[2017-03-09 07:57] dakshshah96 opened #91 "Order books sensibly"
Currently, the books in each category are listed in a random order with no real sense of organization.

I think it'd be better if the books were ordered in a particular manner. Few ideas for selecting the criteria for ordering books:
* Alphabetically
* Average Goodreads rating
* First publishing date

[2017-03-09 11:13] dakshshah96 commented on #91
@hackerkid I think the [Goodreads API](https://www.goodreads.com/api) will be very helpful here to generate a list of all books with their ratings. Let me see what I can find on that.

Yes, the publishing date can be added to the title. I can start working on that if that's what we want to do. 👍

[2017-03-09 12:35] hackerkid commented on #91
@dakshshah96 I will give more importance in sorting the list according to the Goodreads API. You can also display the Goodreads rating of the book. I think when you do this you can also add date of publishing to the book as it would be just a few extra lines of code. We will run the scripts every couple of months.

[2017-09-22 10:09] robert-digit opened #100 "Are gold statistics sufficiently noteworthy?"
Every Shot Counts, while perhaps a fine book, is even described by many of its goodreads reviews as limited in scope and audience.

[2017-09-26 15:10] robert-digit commented on #100
Sorry, I meant "golf"

[2017-09-28 14:34] hackerkid opened #102 "Write a tool to sort books according to Goodreads rating"
It would be awesome if you can write a commandline tool that will sort the books in each category according to Goodreads rating. The  tool should basically read from README.md and update it once the task is completed. You can use Goodreads API for achieving this. Let me know if you have any doubt :)

[2017-09-28 14:39] dhinske commented on #102
I could contribute a cmd-line tool in java, if thats something you have in mind :)

[2017-09-28 15:54] hackerkid commented on #102
@dhinske Yeah. I was looking for a command line tool. Looking forward to it :)

[2017-09-28 16:55] AnshulMalik commented on #102
How about a bash script, java seems complicated, we need jre or jdk stuff

[2017-09-28 16:55] geritol commented on #91
I starting to write python script for this!

[2017-09-28 17:30] hackerkid commented on #102
@AnshulMalik If you can write a bash script to do this feel free to write one and send a PR :)

[2017-09-28 17:31] hackerkid commented on #91
@geritol  Awesome. Looking forward to it.

[2017-09-28 17:32] AnshulMalik commented on #102
How about python? Bash will be a bit complicated :P

[2017-09-28 19:20] geritol commented on #91
https://github.com/geritol/Mind-Expanding-Books/
Ordering by title and author ready (check example files).
(The functionality is not refactored to a command line tool yet)
Will take a look on the ratings tomorrow it think.

[2017-09-29 07:27] dhinske commented on #102
bash would be the most native solution. i can give it a shot

[2017-09-29 07:33] hackerkid commented on #91
@geritol Nice :)

[2017-09-29 07:33] hackerkid commented on #102
@AnshulMalik @dhinske Whatever works for you works for me :)

[2017-09-29 08:42] geritol commented on #91
@hackerkid Now I am retrieving the publishing year, original language, average rating a page count from the API.
The question here is, should we show some of these in the .md file?
If so what would you propose for the new 'look' of a line containing a book?

[2017-09-29 09:48] hackerkid commented on #91
@geritol  I am thinking we can convert the current format to that of a table.

|Name|Author|Goodreads Rating|Year Published|
|-------|---------|-------------------------|--------------------|
|Zero to One| Peter Thiel|[4.17](https://www.goodreads.com/book/show/18050143-zero-to-one)|2014|
|Hackers and Painters|Paul Graham|[4.06](https://www.goodreads.com/book/show/41793.Hackers_Painters)|2004|

Do

[2017-09-29 09:48] hackerkid commented on #91
@geritol  I am thinking we can convert the current format to that of a table.

|Name|Author|Goodreads Rating|Year Published|
|-------|---------|-------------------------|--------------------|
|Zero to One| Peter Thiel|[4.17](https://www.goodreads.com/book/show/18050143-zero-to-one)|2014|
|Hackers and Painters|Paul Graham|[4.06](https://www.goodreads.com/book/show/41793.Hackers_Painters)|2004|

Do

[2017-09-29 13:49] geritol commented on #91
can do for sure!
the only thing, that maybe in the source code the separators won't be well aligned. Put probably that can also be solved. Will try to achieve this today.

[2017-09-29 17:33] geritol commented on #91
[by-author.md.zip](https://github.com/hackerkid/Mind-Expanding-Books/files/1345170/by-author.md.zip)
@hackerkid Seems not all the rows have _by_ before the author name.
This confuses my parser.
Could you fix this, please in the meantime?

You should look rows with odd values in the author column.

Thanks!

[2017-09-29 20:54] geritol commented on #91
basically ready (check out: https://github.com/geritol/Mind-Expanding-Books/blob/master/README-NEW.MD)
some smaller stuff still left

[2017-09-30 08:14] hackerkid commented on #91
This looks awesome and would turn this list much useful!

[2017-09-30 08:25] hackerkid commented on #91
@geritol  I fixed syntax issues in https://github.com/hackerkid/Mind-Expanding-Books/commit/5598f3856a39f5d577eb32af4e4a220ea58befcf. you parser should work fine now :)

[2017-09-30 09:07] geritol commented on #91
Cool, I think you left this one in:
* [Darwin's Dangerous Idea](https://www.goodreads.com/book/show/2068.Darwin_s_Dangerous_Idea) Daniel C. Dennett

[2017-09-30 13:42] geritol commented on #91
Basically ready, If you what to take a look check my fork.
PR coming in tomorrow :)

[2017-09-30 17:55] hackerkid commented on #91
@geritol Good catch. Fixed in c030a050ae0f9c8bd9120974fc63b4082556fb44

[2017-10-01 06:34] geritol commented on #91
see pr #105 :)

[2017-10-03 14:45] hackerkid commented on #91
Fixed in #105

[2017-10-03 14:45] #91 closed

[2017-10-03 14:46] hackerkid commented on #102
Fixed in #105

[2017-10-03 14:46] #102 closed

[2017-10-06 16:39] VipPat opened #108 "I think we need an investment category too"
There are so many books that are 'mind expanding' in the investment world which can help in life outside.

Examples
a) Principles - Ray Dalio
b) The essays of Warren Buffett
etc.

[2018-06-12 12:02] DanielSokil opened #143 "Suggestion: 12 Rules for Life"
https://www.goodreads.com/book/show/30257963-12-rules-for-life

[2018-10-17 23:28] iambrj opened #147 "Lord of the rings was published in 1954 (not 2005 as mentioned)"
[https://github.com/hackerkid/Mind-Expanding-Books#fantasy](url)

[2019-01-29 14:55] hackerkid commented on #108
Feel free to create a PR to add this section

[2019-01-29 14:55] #108 closed

[2019-01-29 14:57] hackerkid commented on #147
Fixed in 066d05c

[2019-01-29 14:57] #147 closed

[2019-01-29 14:57] hackerkid commented on #143
Feel free to create a PR.

[2019-01-29 14:57] #143 closed

[2019-01-29 14:58] hackerkid commented on #100
Closing this due to lack of discussion.

[2019-01-29 14:58] #100 closed

[2019-10-13 15:32] hackerkid opened #178 "website: Improve the website of mind expanding books"
I have built a bare minimum website for mind expanding books using Gatsby. Its acessible at http://books.vishnuks.com.

The source code of the website lives in `app` directory and the README in app directory has documentation on how to start a development environment.

If you are interested in improving the website feel free to contribute. Some issues that are on top of the mind are

- [x] Show th

[2019-10-18 11:53] SurajKhayamali commented on #178
I am working on infinite scroll.
Possibly, Assign me.

[2019-10-18 12:55] hackerkid commented on #178
@SurajKhayamali Awesome. Go ahead and work on it.

[2019-10-18 12:59] hackerkid opened #182 "website: Add a navbar or menu bar that allows users to filter books category wise"
Currently there is now way to filter books according to category. We should build a menubar/navbar that shows all categories and allows users to filter books accoridng to category.

See https://github.com/hackerkid/Mind-Expanding-Books/tree/master/app for details on setting up the development environment.

[2019-10-18 13:02] hackerkid opened #183 "website: Implement sorting of books functionality"
Users should be able to sort books on basis of rating, year published, title etc.

See https://github.com/hackerkid/Mind-Expanding-Books/tree/master/app to setup development environment

[2019-10-18 13:06] hackerkid opened #184 "website: Implement infinite scroll"
Currently all the books are loaded when the homepage is loaded. Instead of this implement an infinite scroll that loads more books only when the user scrolls to the bottom of page.

See https://github.com/hackerkid/Mind-Expanding-Books/tree/master/app to setup development environment

[2019-10-18 13:10] hackerkid commented on #178
@SurajKhayamali I created https://github.com/hackerkid/Mind-Expanding-Books/issues/184. if you can comment there asking to assign you the issue I can assign it for you. GitHub don't allow to assign users without them commenting on the issue.

[2019-10-18 13:17] SurajKhayamali commented on #184
I am planning to load 4 books at a time considering current layout. And yeah, As the user scrolls down, More and more books will load.

[2019-10-18 13:34] hackerkid opened #185 "website: Each category should have it's own page"
There should be a seperate page for each category. Opening /Startups-And-Business for example should display books from Startups and Business category.

Before working on this issue I think it would be great to finish https://github.com/hackerkid/Mind-Expanding-Books/issues/182 first.

See /app@master  for details on setting up the development environment.

[2019-10-18 13:38] hackerkid opened #186 "website: Improve the UI of book cards"
The UI of book cards is not that great currently. Lot of improvements can be made in terms of how they look. For example how the category is displayed currently in the card is not pleasant and can be improved. Feel free to make any changes that you think improve the design of cards.

See https://github.com/hackerkid/Mind-Expanding-Books/tree/master/app  for details on setting up the development en

[2019-10-18 13:42] hackerkid opened #187 "website: Implement functionality to mark books as "to read" using localstorage"
Users should be able to mark books as to read. The data can be stored in local stoarge. There should be also an option to see all the books that users marked as to read. Future project would be to sync the data with a backend but that is beyond the scope of this issue.

See https://github.com/hackerkid/Mind-Expanding-Books/tree/master/app  for details on setting up the development environment.

[2019-10-18 13:49] hackerkid commented on #184
@SurajKhayamali Thats reasonable. Go ahead.

[2019-10-18 14:06] lielfr commented on #186
Hi,
I'd like to work on this one if possible :smile:

[2019-10-18 14:08] hackerkid commented on #186
@lielfr Sure. Go ahead :)

[2019-10-18 15:41] HarisSpahija commented on #182
Hey @hackerkid , I would love to work on this! Can you let me know what I can do?

[2019-10-18 16:08] lielfr commented on #186
@hackerkid What do you think about this?
**Individual cards**
![image](https://user-images.githubusercontent.com/360928/67110045-85b66b00-f1da-11e9-8e38-5dda739ce72c.png)

**Grid**
![image](https://user-images.githubusercontent.com/360928/67110106-a2eb3980-f1da-11e9-9d36-281170446d24.png)

[2019-10-18 19:41] hackerkid commented on #186
@lielfr This looks like an imorovment. Create a PR?

[2019-10-18 20:10] hackerkid commented on #182
@HarisSpahija Sure. Basically you have to add a menu that has the list of all book categories. When users click on a category in the menu only the books from that category should be shown.

![Screenshot from 2019-10-19 01-34-21](https://user-images.githubusercontent.com/7190633/67124962-5c650180-f211-11e9-8d0d-17a0051ea8cb.png)

Something like this for example. https://github.com/hackerkid/Mind-Ex

[2019-10-26 05:05] mridul-arora commented on #186
Could you close the issue so that it doesn't create more confusions

[2019-10-26 07:24] hackerkid commented on #186
hmm. I think a lot more improvements can be made in UI of books cards. So going to leave this issue open.

[2019-11-03 15:17] satyanash opened #201 "define "Mind Expanding Books""
Given that _Books that will blow your mind_ is very subjective, it would help to define what does a book have to do, to be considered "Mind Expanding".

Given the current selection, it seems that any book that is well known and has a goodreads rating ~4.0 makes the list. If it's difficult to come up with anything else, shouldn't we at least codify this part?

[2019-11-04 07:30] hackerkid commented on #201
@satyanash Interesting. A book greater than 4.0 is a great indicator. We can maybe add a testcase that makes sure that the books rating has to be atleast 4. Maybe we can check Amazon.com review score as well? If you are thinking of working on this issue this is what I would do.
* Write a Unittest that makes sure that the book added in the last commit is in proper format. Format being
[code]
* Add

[2019-12-02 21:06] b00sher commented on #201
Agree with @satyanash point, it seems like a list of _just_ books with a good rating, without any comments or thoughts. Have you (@hackerkid) read all of them? Why would one book is better than another? Because of the score?

Don't worth that much attention, as for me.

[2019-12-03 04:38] hackerkid commented on #201
Yeah. Actually when the person creates a PR for adding the book, they are asked how many times they have read the book as well as the reasoning for adding the book to the list. I normally only merge PRs that has strong reasoning for adding the book to the list. Ofourse if you can come up with a way to enforce this rules through code feel free to do so. Also if you don't like some books that are in

[2019-12-03 12:27] b00sher commented on #201
I think this repo is too opinion-based to has a name as such. Here is hierarchy, as I get it:

You (@hackerkid) accept book (PR) that:

0. [book] Has been read by someone, who also has to explain reasons why they thinks it is "mind-expanding". (opinion-based, but includes reasons/thoughts)
1. [PR] Has _strong_, in your opinion, reasoning for adding the book.
2. [book] Has a good rating* (rating is

[2019-12-06 14:33] hackerkid commented on #201
@b00sher That is a reasonable suggestion. Will make the necessary changes soon.

[2020-02-15 04:13] Prathamesh404 commented on #186
Hello,
So I have seen all the issues raised.
1. Need categorisation. Consider a Wikipedia articles. The reference for categories can be a great help to scroll down to specific category.
2. The book cards can have link to Amazon for buying.
3. Every Book can have a gist about what knowledge it offers.
4. UI book cards look good, but I guess every book have same cover  page as of now, is there any i

[2020-02-19 17:55] samuei opened #208 "Fix Publishing Dates"
I don't know offhand when Jane Austen published Sense and Sensibility, but I *strongly* suspect it was not 2003. Leo Tolstoy, having died in 1910, did not release much in the 2010s.

A _lot_ of these dates are wildly incorrect. I suspect this may have been done automatically, perhaps grabbing whatever date GoodReads has, but clearly the information gleaned was incorrect and needs to be reviewed mo

[2020-02-24 13:09] hackerkid commented on #208
@samuei You are right. The year of publicatoon of majority of the book in the list was extracted automatically using the API. Someone has to go through them manually and fix the incorrect ones.

[2020-02-24 13:14] hackerkid commented on #186
Yes. There is an issue open for this. https://github.com/hackerkid/Mind-Expanding-Books/issues/182

This is a good idea. But I would prioratize this after other major issues are fixed.

Good suggestion I think this can be extracted form the GoodReads API.

I have not yet updated the json files with the appropriate links to the book images. The script for that is  done and present in the utils dire

[2020-02-24 13:15] hackerkid commented on #186
@Prathamesh404 FYI ^^^. Forgot to tag in the previous comment.

[2020-06-05 12:29] SurajKhayamali commented on #184
#211

[2020-06-05 12:40] SurajKhayamali commented on #184
#211 @hackerkid

[2020-06-05 13:18] SurajKhayamali commented on #184
#211 @hackerkid
Page loads significantly faster now :)

[2020-06-11 14:32] SurajKhayamali commented on #184
Loading 12 books at a time to fix scrolling issue on devices with viewport larger than initial rendered documents

[2020-06-22 08:17] hackerkid commented on #184
Closed in https://github.com/hackerkid/Mind-Expanding-Books/pull/211

[2020-06-22 08:17] #184 closed

[2020-07-28 16:51] samishakhurana opened #213 "Common Book Image"
Hi, so I wanted to know is there any particular reason for using a common book image ( " Shoe Dog: A memoir by the creator of Nike " ) for all the books.
I understand that finding cover for every book is a bit cumbersome since there is already a big list present by now, but the same cover looks a bit weird.
I would like to suggest two ways to fix this -
1) A more generic image can be used
2) Desig

[2020-07-28 17:40] hackerkid commented on #213
My plan was to fetch the cover image of the book from Goodreads API.

I think I have made changes to the script to do this as well. But the last time I ran the script it took way too much time to run.

https://github.com/hackerkid/Mind-Expanding-Books/blob/master/utils/gooodreads.py

If you are interested in contributing to the issue you can play around with the script and get the details of all t

[2020-08-23 18:27] hackerkid commented on #213
The [website](https://books.vishnuks.com) now has the correct image for most books. I need to get the book image for the left out books using some other API.

[2020-08-23 18:27] #213 closed

[2020-08-23 18:29] hackerkid commented on #182
Fixed in https://github.com/hackerkid/Mind-Expanding-Books/commit/1593c00620de287e47c014b5de0f1781ce83c2a8

[2020-08-23 18:29] #182 closed

[2020-08-23 18:29] hackerkid commented on #185
Fixed in https://github.com/hackerkid/Mind-Expanding-Books/commit/1593c00620de287e47c014b5de0f1781ce83c2a8

[2020-08-23 18:29] #185 closed

[2020-08-23 18:31] hackerkid commented on #186
I have made a lot of changes to the card component recently.

![Screenshot from 2020-08-24 00-01-01](https://user-images.githubusercontent.com/7190633/90985959-ef429b00-e59c-11ea-9315-b458cc5d8ad1.png)

It still can do a lot more improvement but I don't necessarily think we need an issue open for that. Closing this.

[2020-08-23 18:31] #186 closed

[2020-08-23 19:06] hackerkid commented on #178
Most of the issues here are fixed. For the remaining ones, there are existing issues opened.

[2020-08-23 19:06] #178 closed

[2020-08-31 15:59] samishakhurana opened #214 "Minor UI improvements for better User Experience"
I would like to highlight some minor UI issues -
1) There can be a default cover page for books for which images are not present, currently it comes as an empty box.
2) Book cards are overlapping long category names.
![Screen Shot 2020-08-31 at 9 23 51 PM](https://user-images.githubusercontent.com/32064975/91740439-ed965a00-ebd0-11ea-95ec-8c431845295e.png)
![Screen Shot 2020-08-31 at 9 23 57 PM](h

[2020-08-31 16:01] samishakhurana commented on #214
If you feel like these changes would help, I would like to work on them.
Thanks ~

[2020-08-31 17:10] hackerkid commented on #214
Cool. Feel free to work on the 2nd issue. I  have in my todo list to fetch book covers for the ones that are missing at the moment from another API. Also, the categories section on the left side is not responsive at the moment. If I open the website in a mobile it won't resize properly. I think ideally when the website is opened the categories should come first and then the books should be shown.

[2020-10-02 10:16] samishakhurana commented on #214
Hello @hackerkid , I am opening a PR for the partial fix of this issue.
It would be a little help if you can add hacktoberfest label to this. :)
Thanks ~

[2020-10-02 23:05] kyebrowning commented on #208
Are you referring to the dates on the readme/readme-new? Would you mind if I update them to their correct publish date?

[2020-10-09 18:09] hackerkid opened #227 "Issues for Hacktoberfest 2020 beginner contributors"
👋👋  Hello Hacktoberfest contributors

if you are looking to contribute to Mind-Expanding Books, I would recommend focusing on improving the website which can be accessed at http://books.vishnuks.com/ (soon to get its own domain). The source code lives in `/app` directory.

There are a ton of improvements that can be made to the website. I have some issues opened at https://github.com/hackerkid/Min

[2020-10-09 19:53] Rohan-GD commented on #227
Hi I wanted to suggest a good top nav bar maybe.

[2020-10-09 21:05] thedudio opened #229 "Add instructions on how to get the site going locally"
Hi, im new to open source, but not to webdesign and I think the website has a lot of potential to look much better.
The problem is, I cannot find any instructions on how to setup the site locally. I never used gatsby and I'm not sure, if this is the only thing I need to get started working on the style of the site efficiently.
Maybe this is a stupid question, let me know. :)

[2020-10-09 22:11] redxzeta commented on #229
1.   `cd app`

1.  `npm i`

1.  `npm start`

[2020-10-10 11:09] galElmalah commented on #183
Hey, can you please assign this to me?
Also, where can I find the fields we want the books to be sorted by?

[2020-10-10 14:30] PhilipWright96 commented on #227
Hi! I'd like to suggest maybe a 'read-more' or 'continue' button for the descriptions of these books? Right now they seem to be getting chopped up mid sentence - could look into either expanding the boxes so users can read more, or at least preventing sentences from being cut in half.

[2020-10-10 17:23] BlameFelix opened #233 "Refactor the Layout"
Hey, I'd like to contribute for the hacktoberfest.

I could refactor the layout to one from [ant design](ant.design) if you want to use more of their stuff later on?

I'd pick one of [these](https://ant.design/components/layout/), I suggest the sider one as its pretty similar to the one already existing.
Let me know what you think

[2020-10-10 18:43] hackerkid commented on #229
Yeah. Try the instructions above. I have also added it now in README of the app/

https://github.com/hackerkid/Mind-Expanding-Books/tree/master/app

[2020-10-10 18:54] hackerkid commented on #227
@Rohan-GD Sure. What should the navbar contain?

[2020-10-10 19:03] hackerkid opened #235 "Make sure that the book reviews data are upto date"
We show the Goodreads star count in the website. We fetch the data using the following script

 `Mind-Expanding-Books/utils/update_json_files.py`

The script generates two json files which are then copied to `app/src/data` directory.

At the moment I run this script manually. But it would be cool to automate the step using GitHub actions.

The tricky thing is to make sure that you don't call the G

[2020-10-10 19:04] hackerkid commented on #227
@PhilipWright96 I think making sure that the review star is updated would be more useful. I think books should be in stock most of the time. Also not a big problem even if they click on the Amazon link and find that the book is out of stock.

Created https://github.com/hackerkid/Mind-Expanding-Books/issues/235 for the review update. Feel free to claim.

[2020-10-10 19:08] hackerkid commented on #233
@BlameFelix  I was also considering Ant design when I started working on the website. It's really cool :)

But let's stick for React Bootstrap for now. There are a lot of PRs being made so refactoring to Ant would create a lot of merge conflicts.

[2020-10-10 19:14] #233 closed

[2020-10-10 19:18] hackerkid opened #236 "Improve the responsivness of website"
The [website](https://books.vishnuks.com) at the moment is not all responsive and is kind of not usable on mobile and tablet.

Ideally, the website should work properly across all types of devices. Feel free to make any changes to the UI that achieves this goal.

[2020-10-10 19:20] hackerkid commented on #236
So far 3 PRs have been created for this issue. So I would not recommend anyone else to work on this.

https://github.com/hackerkid/Mind-Expanding-Books/pull/231
https://github.com/hackerkid/Mind-Expanding-Books/pull/230
https://github.com/hackerkid/Mind-Expanding-Books/pull/223

[2020-10-10 19:23] hackerkid commented on #183
@galElmalah You can add sorting by year, alphabetic order and rating.

See `app/src/data/books.json` for all the fields.

[2020-10-10 19:29] PhilipWright96 commented on #235
Cool - I'll get started on this!

[2020-10-11 00:36] CarlsJr4 commented on #187
Hi! I'd love to work on this issue. I've worked with Gatsby and localStorage before. I'll see what I can do.

[2020-10-11 06:12] hackerkid commented on #187
Great. Go ahead :)

[2020-10-11 19:21] galElmalah commented on #183
I think you can probably close this now 😄

[2020-10-12 06:02] hackerkid commented on #183
Fixed in #241

[2020-10-12 06:02] #183 closed

[2020-10-12 06:47] galElmalah commented on #183
@hackerkid NP! 😄

[2020-10-12 08:27] xevenheaven opened #244 "[UI BUG] Goodreads image is covering the book card"
While exploring the website, I noticed that the Goodreads image is covering most of the book card:

![image](https://user-images.githubusercontent.com/6725396/95723483-c8a10680-0ca7-11eb-8b77-03a8a19444e5.png)

[2020-10-12 08:47] hackerkid commented on #244
I think its fixed in production now. Can you hard reload and see.

[2020-10-12 08:56] xevenheaven commented on #244
@hackerkid yup the Goodreads image is gone now. 😄

I see that you've reverted the commit for Goodreads [here](https://github.com/hackerkid/Mind-Expanding-Books/commit/f4446aff0762e5b0bdc1a448a2356c7d4ccb9770). I've actually made some style fixes and updates to the book card, inclusive of the Goodreads image - PR https://github.com/hackerkid/Mind-Expanding-Books/pull/245 just created. Perhaps you c

[2020-10-12 09:05] #244 closed

[2020-10-12 22:11] #229 closed

[2020-10-17 02:42] pedabraham commented on #227
The site doesn’t look so good on the iphone, can I try to make the site a little bit more responsive.

[2020-10-17 06:39] arifsetyo21 commented on #236
please me for do this issue

[2020-10-17 07:13] hackerkid commented on #227
@pedabraham Sure. Go ahead!

[2020-10-17 14:37] sagarchoudhary96 opened #270 "Currently the nav title also scroll while scrolling the page"
It would be good to make the navbar fixed and scroll the content as the side list navigation is all fixed so the spacing on top of it looks odd after scroll.
![Oct-17-2020 20-07-02](https://user-images.githubusercontent.com/16102594/96339787-5b7cdf00-10b4-11eb-9006-b0dbf639eafb.gif)

Should i fix it and raise the PR?

[2020-10-17 17:36] hackerkid commented on #270
@sagarchoudhary96 I think some of the PRs that are opened already will fix that. I will let you know if it doesn't fix so that you can work on that then. For now maybe try to improve something else. Maybe create a PR to make the background color better?

[2020-10-17 17:40] hackerkid commented on #187
This was fixed in https://github.com/hackerkid/Mind-Expanding-Books/pull/252

[2020-10-17 17:40] #187 closed

[2020-10-17 17:40] hackerkid commented on #214
I am closing since a lot of PRs have been created in this category.

[2020-10-17 17:40] #214 closed

[2020-10-17 17:46] hackerkid opened #273 "Use another API for fetching book covers when Goodreads API don't have a valid book cover"
If you open the website you can see that a lot of books have book covers missing.

eg https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png

The reason behind is that Goodreads don't have the licensing rights to distribute the cover photo of the book using the API (or something like that).

It's easy to see whether the book cover URL is valid or not since Goodrea

[2020-10-17 17:49] hackerkid opened #274 "Use another API for fetching the book description when Goodreads API return empty description"
If you go through `app/src/data/books.json/` you can see that a lot of the books have the description empty. We are not displaying the books without a description in the website.

Your task is to use another API for fetching the book description when Goodreads return an empty description.

The scripts that are used for generating the `books.json` file lives in `utils` directory

Go through the REA

[2020-10-17 19:10] JacksonIsaac commented on #273
Would like to work on this :) Setting up the environment now

[2020-10-17 21:10] hackerkid commented on #273
@JacksonIsaac Awesome. Thanks!

[2020-10-18 10:03] JacksonIsaac commented on #273
@hackerkid, looks like lot of packages in requirements.txt are not on pypi (or either having lower of higher version numbers). Is this intentional ?

[2020-10-18 10:51] hackerkid commented on #273
@JacksonIsaac We don't use any packages that are not in pypi. I added some instructions on setting up the packages just now. Can you give it a try?
https://github.com/hackerkid/Mind-Expanding-Books/tree/master/utils#install-packages-for-script

The python on my system has `3.8` in case it doesn't work with your version.

[2020-10-18 10:53] hackerkid opened #278 "Improve the SEO of the website"
Your task is to improve the SEO of mind-expanding books website. Feel free to create a pull request with any changes that you think would improve the SEO.

[2020-10-18 10:55] JacksonIsaac commented on #273
@hackerkid These were the steps I followed, yes. I am using python 3.7 on macOS

[2020-10-18 10:55] hackerkid commented on #273
@JacksonIsaac What error are you getting?

[2020-10-18 10:57] JacksonIsaac commented on #273
pip install -r requirements.txt
Collecting appdirs==1.4.3
  Using cached appdirs-1.4.3-py2.py3-none-any.whl (12 kB)
ERROR: Could not find a version that satisfies the requirement apturl==0.5.2 (from -r requirements.txt (line 2)) (from versions: none)
ERROR: No matching distribution found for apturl==0.5.2 (from -r requirements.txt (line 2))

[2020-10-18 11:01] hackerkid commented on #273
@JacksonIsaac Okay. I think the issue is that we had an outdated requirements.txt file in the root folder. The requirments.txt file you need to use is present inside `utils` directory. I have removed the extra requirments.txt file from root and pushed to master. Can you give it another try?

[2020-10-18 11:10] hackerkid opened #279 "Generate pages for all the books in website"
The task is to generate a unique page for each and every book present in our list.

The page should show the name of the book, year of publishing, description etc. Basically, all the details present in the book card would be shown in thhe page. The user can access the page by clicking on "Show more" in the book card.

The URL of the page can be in this format

`/book/name-of-the-book-by-author-nam

[2020-10-18 19:14] Jobin-S commented on #278
ok

[2020-10-19 01:11] mecm1993 commented on #279
I would like to work on this @hackerkid

[2020-10-19 07:03] hackerkid commented on #279
Great. Go ahead!

On Mon., Oct. 19, 2020, 6:41 a.m. Manuel Cepeda, <notifications@github.com>
wrote:

[2020-10-19 09:45] ariesgun commented on #274
If no one is working on this, i want to take this.

[2020-10-19 17:10] hackerkid commented on #274
@ariesgun Feel free to work on the issue :)

[2020-10-21 17:23] avenger1810 opened #300 "Binart search tree"
public class BinarySearchTree {

    //Represent a node of binary tree
    public static class Node{
        int data;
        Node left;
        Node right;

        public Node(int data){
            //Assign data to the new node, set left and right children to null
            this.data = data;
            this.left = null;
            this.right = null;
        }
      }

      //Represent the

[2020-10-21 17:24] avenger1810 commented on #300
Plz

[2020-10-21 18:12] #273 closed

[2020-10-21 18:15] #300 closed

[2020-10-24 17:12] alivapriyadarshini5 commented on #201
added a theater book #318

[2020-10-25 07:13] hackerkid commented on #274
Fixed in #316

[2020-10-25 17:36] #274 closed

[2020-10-26 04:44] kshsh00 commented on #279
can I be assigned to this issue??

[2020-10-26 09:56] hackerkid commented on #279
@kshsh00  It looks like @mecm1993 has not started working on this yet
https://github.com/mecm1993/Mind-Expanding-Books/branches

So can start working on this :)

[2020-10-27 05:30] VinamraGuptaa commented on #270
Hello. Is this issue still open? Are there any other issue? I would love to contribute. Thank You

[2020-10-27 08:13] hackerkid commented on #270
@VinamraGuptaa Yes. It's open. You can see the website at https://books.vishnuks.com/

It would be awesome if you create a PR that keeps the navbar fixed. Maybe the side menu as well? But that could be another PR.

[2020-10-27 08:14] hackerkid commented on #270
Actually since @sagarchoudhary96  opened this issue, I would let him take over this issue if he is interested in creating a PR.

@VinamraGuptaa You can work on keeping the side menu (which shows the categories) fixed?

[2020-10-27 10:35] sagarchoudhary96 commented on #270
@VinamraGuptaa  you can take this one too ahead and fix it too along with the side menu changes.

[2020-10-28 13:53] DBozhinovski opened #337 "Incremental builds"
Recently, Netlify added a free plugin for enabling incremental builds for Gatsby sites. On the ones I've worked on, I noticed significant speed-ups in build times, so it might be a good idea to add that too. I'd be okay with handling the config part myself, but  the Netlify plugin also needs to be enabled.

[2020-10-28 17:44] hackerkid commented on #337
@DBozhinovski Sounds great. Feel free to create a PR. Is this the plugin that I should enable?
![Screenshot from 2020-10-28 23-13-40](https://user-images.githubusercontent.com/7190633/97475443-484ef680-1973-11eb-8c37-cae90830c9d0.png)

[2020-10-28 17:44] DBozhinovski commented on #337
Yup, that's the one :+1:

[2020-10-28 17:48] hackerkid commented on #337
Done :)

[2020-10-29 19:19] KwameTaylor commented on #227
I only know some HTML (mostly work in Python) but if there is anything a newbie can do, let me know :)

[2020-10-30 19:41] hackerkid commented on #227
@KwameTaylor So website uses data present in `app/src/data/books.json` file. That file is generated by the scripts present in `/utils` directory. The scripts fetch Goodreads rating, Amazon URL, book description etc from various sources.

Can you think of some other data that we can fetch from some API that would add value to the users?

For example, how much time will it take to read the book?  Is

[2020-12-15 11:24] faridprogrammer opened #363 "broken link -> diff.blog"
This link is broken in your Mind-Expanding-Books repository.

[2021-02-27 16:52] shubhranshu-karna opened #367 "."

[2021-03-02 19:41] #367 closed

[2021-03-14 14:04] TetianaHrunyk commented on #279
Hello,
I was  wondering if @kshsh00 is working on this issue. If not, I would like to contribute.

[2021-03-15 06:40] hackerkid commented on #279
Great! I have assigned you the issue.

[2021-05-19 21:57] ahmetakyyev opened #370 "Books"

[2021-05-29 17:07] Shweta200126 opened #371 "Book title doesn't match the picture of book shown or the information given"
![image](https://user-images.githubusercontent.com/72426535/120078628-f10e3180-c0cd-11eb-8fab-db2c3d6ab4fa.png)

This is in context with the book **The Discoverers by Daniel J. Boorstin 2012** in history section but it shows Aristotle and Dante's book with its description but the links are correct. I refreshed the page many times but it doesn't change, its a problem.

[2021-06-02 07:42] hackerkid commented on #371
@Shweta200126 Yes. It's defintely a bug that I have seen before. Can you try debugging it if you have some spare time?

[2021-06-02 09:09] Shweta200126 commented on #371
@hackerkid ya sure, I'll see it in the night/morning.

[2021-06-04 07:22] #371 closed

[2021-06-08 11:09] #370 closed

[2021-08-16 06:57] savant-lab opened #375 "Books to read"

[2021-08-17 07:01] #375 closed

[2021-08-17 07:02] hackerkid commented on #375
@savant-lab I am not sure what this issue is about. So closing it.

[2021-08-20 04:14] d80ep08th commented on #235
Doesn't look like this went anywhere. May I check it out , give it a go ? @hackerkid

[2021-08-20 04:16] d80ep08th commented on #227
So  maybe if there is an api that can fetch quotes specific to those books , then according to someone who likes books, thatd be pretty cool .

[2021-09-30 20:40] MatteoGheza opened #376 "Can I work on Dockerfile for this project"
Hi. I'd like to contribute to this project with a Dockerfile for running a self-hosted installation of this software using Docker.
Can I work on this and open a PR during the Hacktoberfest 2021?

[2021-10-05 08:39] elenajp opened #380 "Add link to go to top of page in README.md"
Hi 👋🏻

I think it would be nice to have links after each book category in the README.md file to save the user from having to scroll all the way up to the top. If you would also like this then I am happy to add it. Let me know 😊

[2021-10-07 12:25] elenajp commented on #380
Looks like you have worked on it haha but sure go for it if the repo owner is happy with my idea and wishes to implement it 😀

[2021-10-08 16:57] Yashpd commented on #380
Oh I'm sorry if you had plans to work on this issue. I did not realise that. i just saw an open issue, so I went ahead and made the changes.

[2021-10-09 08:15] elenajp commented on #380
haha all good, it is nice that you made the contribution.

[2021-12-29 17:15] johannesvollmer opened #414 "Thumbnails do not match the title"
Some thumbnails match, but most don't.

Here is an example:

![Screenshot_20211229-181145_Opera](https://user-images.githubusercontent.com/32042925/147687001-d92dbf50-4ba7-45ce-9f29-6f5e74ea42f3.jpg)

Using current Opera on Android

[2021-12-29 17:17] johannesvollmer commented on #414
[Home _ Mind Expanding Books.pdf](https://github.com/hackerkid/Mind-Expanding-Books/files/7789934/Home._.Mind.Expanding.Books.pdf)

Here is all the articles in w pdf

[2021-12-30 05:01] RahulGautamSingh opened #417 "feat: add dark mode"
I would like to work on adding dark mode for the web-site incase some is not working on it.

If this feature is needed please reply and I will start coding.☺

[2022-01-04 06:18] #417 closed

[2022-01-06 20:22] heytitle commented on #414
The issue can be also found at these two books

![image](https://user-images.githubusercontent.com/1214890/148446422-1fcc0f7b-95ad-4ef6-a667-2b664b0b3f44.png)

[2022-04-27 14:37] Skywaterr opened #419 "Small typo"
"The Little Prince" under Education has a comma in its Goodreads rating instead of a period. Also, I'm surprised that this is a list of books on github and has nothing about programming ):

[2022-10-02 10:15] sidverma32 commented on #278
@hackerkid  can i take this up?

[2022-10-07 13:54] ompiepy commented on #279
@hackerkid Is this issue still active? I am interested in this issue. If it is still active, may I ask you to assign this to me. Thanks

[2022-10-07 16:34] AshwiniDR1802 commented on #380
i want to contribute

[2022-10-07 16:35] AshwiniDR1802 commented on #236
i want to contribute

[2022-10-07 16:37] AshwiniDR1802 commented on #227
i want to contribute in changing some of the ui/ux

[2022-10-12 04:21] Hanee-Solanki opened #438 ""Show More" button not required for some book descriptions"
I noticed that the book description has a "show more" button which is not required some descriptions as they are short. Could we set a condition that triggers only when the description reaches a specific word limit?

[2022-10-13 02:42] Hanee-Solanki commented on #438
@hackerkid Can you please label it as hacktoberfest and assign it to me?

[2022-10-29 17:16] Ubarrionuevo commented on #227
Hi , i want to contribute in changing some of FrontEnd

[2022-10-30 04:08] Snimer opened #449 "Adding Self-help Section"
I think we should add a self-help category too. There are many books which can be added in this. Many of them are already added in philoshy and psychology category but many them are more of a self help book than a pshycology book.